{% extends 'base.html' %} {% block content %}
{% load static %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="post-title">{{ spell.name }}</h1>
                <p class="post-subtitle">{{ spell.school }} {% if spell.mp_cost == 0 %} (Cantrip) {% endif %}</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <p class="card-text">
                    <span>Cost: {{spell.ap_cost}} AP {% if spell.mp_cost != 0 %} + {{spell.mp_cost}} {% endif %}</span>
                    <br>
                    Range:   {{spell.range}}
                    <br>
                    Duration: {{spell.duration}} {% if spell.concentration == True %} <em>(concentration)</em> {% endif %}
                    <br>
                    {{ spell.description | safe }}
                    <br>
                    {% if spell.ap_enhancements %}
                        <br>
                        <strong>AP Enhancements:</strong>
                        <br>
                        {{ spell.ap_enhancements | safe  }}
                    {% endif %}
                    {% if spell.mp_enhancements %}
                    <br>
                        <strong>MP Enhancements:</strong>
                        <br>
                        {{ spell.mp_enhancements | safe  }}
                    {% endif %}
                </p>
            </div>
            <p><em>{{ spell.excerpt | safe }}</em></p>
        </div>
        <p class="post-subtitle">{{ spell.creator }} | {{ spell.created_on }}</p>
        {% if user.is_authenticated and spell.creator == user %}
        <a href="{% url 'spell_edit' spell.id %}" class="btn btn-edit">
            Edit
        </a>
        <a href="{% url 'spell_delete' spell.id %}" class="btn btn-delete">
            Delete
        </a>
        {% endif %}
    </div>
</div>

{% endblock content %}