{% extends 'base.html' %} {% block content %}
{% load static %}

<div class="container">
    <div class="row mb-4">
        <div class="card-body">
            <h1>About Spellsmith</h1>

            <p>Welcome to Spellsmith, a community-driven platform dedicated to exploring and expanding the magic of the upcoming DC20 
                Roleplaying System by Dungeon Coach. This website is a fan-built initiative designed to serve as a hub for homebrew 
                spells, giving players and Game Masters alike a place to discover, share, and enhance their gameplay experience.</p>

            <p>At Spellsmith, we aim to bring creativity and collaboration to the forefront. Our growing collection of homebrew spells
                is contributed by passionate members of the DC20 community. Whether you're looking for unique elemental attacks, 
                creative utility spells, or game-changing enchantments, you'll find a wide range of magical possibilities here, 
                all tailored to fit DC20's dynamic mechanics.</p>

            <p>This site isn't just about offering pre-made content—it's about fostering a community of creators who are eager to push 
                the boundaries of the DC20 magic system. Whether you're a seasoned spell crafter or just getting started, we encourage 
                you to contribute your own ideas, test out new spells in your campaigns, and engage with fellow fans to help build the 
                future of DC20 magic.</p>

            <p>So explore, experiment, and expand your spellbook with us. Together, we can forge new realms of magical potential for 
                the DC20 universe!</p>
        </div>
    </div>
</div>


{% endblock content %}