{% extends 'base.html' %} {% block content %}
{% load static %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="post-title">{{ spell.name }}</h1>
                <p class="post-subtitle">{{ spell.get_school_display }} {% if spell.mp_cost == 0 %} (Cantrip) {% endif %}</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <p class="card-text">
                    <span>Cost: {{spell.ap_cost}} AP {% if spell.mp_cost != 0 %} + {{spell.mp_cost}} {% endif %}</span>
                    <br>
                    Range:   {{spell.range}}
                    <br>
                    Duration: {{spell.duration}} {% if spell.concentration == True %} <em>(concentration)</em> {% endif %}
                    <br>
                    {{ spell.description | safe }}
                    <br>
                    {% if spell.ap_enhancements %}
                        <br>
                        <strong>AP Enhancements:</strong>
                        <br>
                        {{ spell.ap_enhancements | safe  }}
                    {% endif %}
                    {% if spell.mp_enhancements %}
                    <br>
                        <strong>MP Enhancements:</strong>
                        <br>
                        {{ spell.mp_enhancements | safe  }}
                    {% endif %}
                </p>
            </div>
            <p><em>{{ spell.excerpt | safe }}</em></p>
        </div>
        <p class="post-subtitle">{{ spell.creator }} | {{ spell.created_on }}</p>
        {% if user.is_authenticated and spell.creator == user %}
        <a href="{% url 'spell_edit' spell.id %}">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Edit</button>
        </a>
        <a>
          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal">Delete</button>
        </a>
        
        {% endif %}
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Warning: Deleting a spell is permanent</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        By clicking delete again, you confirm that you are deleting this spell for the community and understand that it cannot be recovered.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a href="{% url 'spell_delete' spell.id %}">
          <button type="button" class="btn btn-danger">Delete</button>
        </a>
        
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block extras %}
<script src="{% static 'js/alert_modal.js' %}"></script>
{% endblock %}